const http = require('http')
const path = require('path')
const fs = require('fs')
const { on } = require('cluster')
const { URLSearchParams } = require('url')
const { url } = require('inspector')
const port = 3000

const dbpath = path.join(__dirname, 'db', 'data.db')

const sqlite3 = require('sqlite3').verbose();
const db = new sqlite3.Database(dbpath);

const index = fs.readFileSync('./view/index.html', 'utf-8')
const form = fs.readFileSync('./view/form.html', 'utf-8')
const style = fs.readFileSync('./public/stylesheets/style.css', 'utf-8')

http.createServer(function (req, res) {
  // akses css
  if (req.url == '/style') {
    res.writeHead(200, { "content-type": "text/css" })
    res.end(style)
  } else if (req.url == '/') {
    db.all('SELECT * FROM siswa', (err, data) => {
      if (err) {
        return console.log(err)
      }
      let html = ''
      data.forEach(function (row, index) {
        html += `
        <tr>
            <td>${index + 1}</td>
            <td>${row.nis}</td>
            <td>${row.nama}</td>
            <td>${row.umur}</td>
            <td>
    <a class='btn-red' href="/delete?id=${row.nis}"onclick="return confirm('Apakah Anda Yakin?')">Delete</a>
    <a class='btn-blue' href="/update?id=${row.nis}>Update</a>
            </td>
        </tr>`
      })
      const Page = index.replace('{{content}}', html)
      res.writeHead(200, { "content-type": "text/html" })
      res.end(Page)
    })

  } else if (req.url == '/add') {
    if (req.method == 'POST') {
      // nangkep data dari browser melalui form
      let body = ''
      req.on('data', (chunk) => {
        body += chunk
      })
      req.on('end', () => {
        // extrak data from body query
        const params = new URLSearchParams(body)
        const nis = params.get('nis')
        const nama = params.get('nama')
        const umur = params.get('umur')
        // tambah data ke database
        db.run('INSERT INTO siswa (nis, nama, umur) VALUES (?,?,?)', [nis, nama, umur], function (err) {
          if (err) return console.log(err)
          // redirect ke halaman utama
          res.writeHead('301', { location: '/' })
          res.end()
        })
      })
    } else {
      res.writeHead(200, { "content-type": "text/html" })
      const Page = form.replace('{{nis}}', '').replace('{{nama}}', '').replace('{{umur}}', '')
      res.end(Page)
    }
  } else if (req.url.startsWith('/delete/')) {

    const params = new URLSearchParams(req.url.slice(8))
    const id = params.get('id')

    db.run('DELETE FROM siswa WHERE nis=?', [id], function (err) {
      if (err) return console.log(err)

      res.writeHead(302, { Location: '/' })
      res.end()

      console.log(req.url)
    })

    res.writeHead(404, { "content-type": "text/html" })
    res.end("<h1> Page Not Found  </h1 >")
  } else if (req.url.startsWith('/update/')) {

    const params = new URLSearchParams(req.url.slice(8))
    const id = params.get('id')

    db.get('SELECT FROM siswa WHERE nis=?', [id], function (err, item) {
      if (err) return console.log(err)
      console.log(item)
      res.writeHead(302, { Location: '/' })
      const Page = form.replace('{{nis}}', item.nis).replace('{{nama}}', item.nama).replace('{{umur}}', item.umur)
      res.end()

      console.log(req.url)
    })

    res.writeHead(404, { "content-type": "text/html" })
    res.end("<h1> Page Not Found  </h1 >")
  }
}).listen(port)

console.log(`Server jalan di http://localhost:${port}`)