<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>

<body>
    <form action="" method="post">
        <label for="nis">Nis</label>
        <input type="text" id="nis" name="nis" value="<%= item?.nis || '' %>">

        <label for="nama">Nama</label>
        <input type="text" id="nama" name="nama" value="<%= item?.nama || '' %>">

        <label for="address">Address</label>
        <textarea id="address" name="address"><%= item?.address || '' %></textarea>

        <button class="btn" type="submit">Simpan</button>
        <a href="/" class="btn cancel">Cancel</a>
    </form>
    <link rel="stylesheet" href="/style.css">
</body>

</html>