* {
    box-sizing: border-box;
}

/* STYLE TABLE */
table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #ddd;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;

    color: rgb(2, 2, 2);
}

/* STYLE FORM */
form {
    width: 98%;
    margin: auto;
    border-radius: 5px;
    padding: 20px;
}

label {
    display: block;
}

input[type=text],
input[type=number],
input[type=date],
select {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* STYLE BUTTON */
.btn {
    width: 100%;
    padding: 8px;
    color: rgb(246, 242, 242);
    text-decoration: none;
    display: block;
    text-align: center;
    margin-bottom: 8px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

.btn-create {
    background-color: hwb(242 2% 24%);
}

.btn-save {
    background-color: hwb(128 1% 42%);
    border: none;
}

.btn-cancel {
    background-color: hwb(242 2% 24%);
}